:root {
  /* site colors */
  --header-white: #ffffff;
  --background-white: #fcfcfc;
  --text-color: rgb(38, 38, 38);
  --color-gray-1: rgb(148, 148, 148);

  /* layout sizes */
  --header-height: 54px;
  --post-width: 616px;

  /* logo */
  --logo-height: 29px;
  --logo-width: 103px;

  /* search field */
  --search-field-width: 215px;
  --search-field-height: 28px;

  /* shortcuts */
  --shortcut-left-margin: 22px;

  /* radiuses */
  --radius-4: 4px;
  --radius-round: 50%;

  /* stories */
  --not-seen-border: rgb(167, 81, 201);
  --seen-border: rgb(216, 216, 216);

  --tester-purple: purple;
}
